*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
a {
    text-decoration: none;
}
  .body-home {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background: linear-gradient(-45deg, #8691b3, #edeef3);
    z-index: 1;
  }
  .body-music {
    background: linear-gradient(-45deg, #8691b3, #edeef3);
    font-family: 'arconrounded-regular';
    width: 100%;
    height: 100%;
    background-size: cover;

    z-index: 1;
  }
  body.overflow {
    overflow: hidden;
  }
  
  /*  BURGER
  ========================================== */
  .burger {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 4px;
    z-index: 10;
  }
  .burger span {
    position: relative;
    margin-top: 9px;
    margin-bottom: 9px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -1.5px;
  }
  .burger span, .burger span::before, .burger span::after {
    display: block;
    width: 30px;
    height: 3px;
    background-color: rgb(70, 70, 70);
    outline: 1px solid transparent;
    -webkit-transition-property: background-color, -webkit-transform;
    -moz-transition-property: background-color, -moz-transform;
    -o-transition-property: background-color, -o-transform;
    transition-property: background-color, transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .burger span.span-music, .burger span.span-music::before, .burger span.span-music::after {

    background-color: white;

  }
  .burger span::before, .burger span::after {
    position: absolute;
    content: "";
  }
  .burger span::before {
    top: -9px;
  }
  .burger span::after {
    top: 9px;
  }
  .burger.clicked span {
    background-color: transparent;
  }
  .burger.clicked span::before {
    -webkit-transform: translateY(9px) rotate(45deg);
    -moz-transform: translateY(9px) rotate(45deg);
    -ms-transform: translateY(9px) rotate(45deg);
    -o-transform: translateY(9px) rotate(45deg);
    transform: translateY(9px) rotate(45deg);
  }
  .burger.clicked span::after {
    -webkit-transform: translateY(-9px) rotate(-45deg);
    -moz-transform: translateY(-9px) rotate(-45deg);
    -ms-transform: translateY(-9px) rotate(-45deg);
    -o-transform: translateY(-9px) rotate(-45deg);
    transform: translateY(-9px) rotate(-45deg);
  }
  .burger.clicked span:before, .burger.clicked span:after {
    background-color: #ffffff;
  }
  .burger:hover {
    cursor: pointer;
  }
  
  /*  NAV
  ========================================== */
  nav {
    background-color: #2a2a2a;
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 515px;
    width: 100%;
    padding: 100px 40px 60px 40px;
    overflow-y: auto;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);

  }
  i {
    font-size: 3em;
    color: #b7ac7f;
  }
  i:hover {
    color: rgb(255, 72, 0);
    transition: 500ms;
  }
  nav.show {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
  nav.show ul.main li {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
  nav.show ul.main li:nth-child(1) {
    transition-delay: 0.15s;
  }
  nav.show ul.main li:nth-child(2) {
    transition-delay: 0.3s;
  }
  nav.show ul.main li:nth-child(3) {
    transition-delay: 0.45s;
  }
  nav.show ul.main li:nth-child(4) {
    transition-delay: 0.6s;
  }
  nav.show ul.main li:nth-child(5) {
    transition-delay: 0.75s;
  }
  nav.show ul.main li:nth-child(6) {
    transition-delay: 0.9s;
  }
  nav.show ul.main li:nth-child(7) {
    transition-delay: 1.05s;
  }
  nav.show ul.main li:nth-child(8) {
    transition-delay: 1.2s;
  }
  nav.show ul.main li:nth-child(9) {
    transition-delay: 1.35s;
  }
  nav.show .about, nav.show .social, nav.show ul.sub {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
    transition-delay: .85s;
  }
  @media (min-width: 667px) {
    nav {
      padding: 120px 90px 70px 90px;
    }
  }
  nav ul.main {
    list-style-type: none;
  }
  nav ul.main li {
    margin-bottom: 20px;
    -webkit-transform: translateX(40px);
    -moz-transform: translateX(40px);
    -ms-transform: translateX(40px);
    -o-transform: translateX(40px);
    transform: translateX(40px);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  nav ul.main li:last-of-type {
    margin-bottom: 0px;
  }
  nav ul.main li a {
    color: #ffffff;
    font-family: 'arconrounded-regular';
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    display: block;
    letter-spacing: 5px;
    font-weight: 600;
    padding: 10px 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  nav ul.main li a:hover {
    color: #b7ac7f;
  }
  nav .about {
    margin-top: 40px;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  nav .about p {
    color: #ffffff;
    font-family: "Spectral", serif;
    font-size: 1.05rem;
    letter-spacing: 0.5px;
    line-height: 170%;
  }
  nav .social {
    margin-top: 40px;
    position: relative;
    padding-bottom: 30px;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  nav .social:after {
    content: "";
    width: 230px;
    height: 2px;
    background-color: #b7ac7f;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  nav .social a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 25px;
  }
  nav .social a:last-of-type {
    margin-right: 0px;
  }
  nav .social a:hover svg path, nav .social a:hover svg circle {
    fill: #b7ac7f;
  }
  nav .social a svg {
    width: 100%;
    height: 100%;
  }
  nav .social a svg path, nav .social a svg circle {
    fill: #ffffff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  nav ul.sub {
    list-style-type: none;
    margin-top: 40px;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  nav ul.sub li {
    margin-bottom: 10px;
  }
  nav ul.sub li:last-of-type {
    margin-bottom: 0px;
  }
  nav ul.sub li a {
    color: #ffffff;
    font-family: 'arconrounded-regular';
    letter-spacing: 1px;
    font-size: 0.9rem;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  nav ul.sub li a:hover {
    color: #b7ac7f;
  }
  
  /*  OVERLAY
  ========================================== */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
    opacity: 0;
    visibility: hidden;
  }
  .overlay.show {
    opacity: 0.8;
    visibility: visible;
  }
  
.div-title {
    & .title {
        font-family: 'dubtronicsolid';
        text-align: center;
        font-size: 3em;
        color: #b7ac7f;
        margin-bottom: 100px;
    }
    & .sous-title {
      font-family: 'arconrounded-regular';
      text-align: center;
      color: black;
    }
}

@media all and (max-width: 650px) {
  .div-title {
    display: block;
    justify-content: center;
    vertical-align: middle;
  }
}



@font-face {
    font-family: 'dubtronicsolid';
    src: url('font/Dubtronic-Solid-webfont.eot');
    src: url('font/Dubtronic-Solid-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Dubtronic-Solid-webfont.woff2') format('woff2'),
         url('font/Dubtronic-Solid-webfont.woff') format('woff'),
         url('font/Dubtronic-Solid-webfont.ttf') format('truetype'),
         url('font/Dubtronic-Solid-webfont.svg#dubtronicsolid') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'arconrounded-regular';
    src: url('font/arcon-rounded-regular-webfont.eot');
    src: url('font/arcon-rounded-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/arcon-rounded-regular-webfont.woff2') format('woff2'),
         url('font/arcon-rounded-regular-webfont.woff') format('woff'),
         url('font/arcon-rounded-regular-webfont.ttf') format('truetype'),
         url('font/arcon-rounded-regular-webfont.svg#arconrounded-regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.eye {
  width: 332px; 
  height: 332px;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background: #EBEDF3;
	filter: blur(5px);

	animation: eyeAnimation 4s cubic-bezier(1, 0, 1, 1) infinite;
}
@keyframes eyeAnimation {
	0%, 33%, 100% {
		box-shadow: inset -8px -13px 20px -10px rgba(230, 230, 236, 0.04), 64px 55px 40px -40px #38406A, 20px 18px 30px -10px #38406A, inset -70px -50px 60px -30px #4b6398, inset -90px -90px 70px -90px #697398, inset -70px -50px 100px -40px #697398, inset 80px 50px 80px -50px #eeeef3, -25px -15px 50px -10px #F6F6FB, 14px -1px 50px -10px #7e7ea9, 1px 9px 50px -10px #7e7ea9, inset -90px 40px 60px -20px rgba(116, 66, 255, 0.1), inset -90px -120px 60px -20px rgba(116, 66, 255, 0.1);
    transform: translate(-50%, -50%) scale(1.25);
	}
	65% {
		box-shadow: inset -8px -13px 60px -10px rgba(230, 230, 236, 0.2), 44px 35px 20px -20px #687294, 11px 9px 9px -4px #6e799d, inset -100px -70px 40px -110px #6A789C, inset -90px -90px 70px -90px #697398, inset -70px -50px 100px -40px #697398, inset 80px 50px 80px -50px #eeeef3, -25px -15px 30px -10px #F6F6FB;
		transform: translate(-50%, -50%) scale(1);
	}
}


	.eye::after {
		width: 160px; height: 160px;
		border-radius: 50%;
		box-shadow: inset -50px -20px 30px 0px #e7e2f5, inset 100px 10px 20px -27px #2f2c4c, 0px 0px 10px 7px rgba(231, 226, 245, 1);

		animation: pupilAnimationSize 4s cubic-bezier(1, 0, 1, 1) infinite,
							 pupilAnimationView 4s ease infinite;
	}
@keyframes pupilAnimationSize {
	0%, 30%, 100% { transform: translate(-50%, -50%) scale(0.85); }
	40%, 90% 			{ transform: translate(-50%, -50%) scale(0.5); }
}
@keyframes pupilAnimationView {
	0%, 30%, 100% {
		box-shadow: inset -50px -20px 30px 0px #e7e2f5, inset 100px 10px 20px -27px #2f2c4c, 0px 0px 10px 7px rgba(231, 226, 245, 1);
	}
	60%, 66% {
		box-shadow: inset -50px -20px 30px 0px rgba(231, 226, 245, 0), inset 10px 10px 70px -27px rgba(47, 44, 76, 0), 0px 0px 10px 7px hsla(256, 49%, 92%, 0);
	}
	90% {
		box-shadow: inset -50px -20px 30px 0px #e7e2f5, inset 100px 10px 20px -27px #2f2c4c, 0px 0px 10px 7px rgba(231, 226, 245, 1);
	}
}



.circle-5 {
	width: 100px; height: 100px;
	transform: translate(-50%, -50%);
	
	animation: circle5AnimationSize 4s cubic-bezier(1, 0, 1, 1) infinite,
						 circle5AnimationView 4s ease infinite;
}
	.circle-5::before {
		width: 173px; height: 173px;
		border-radius: 50%;
		border: 1px solid rgb(251, 251, 251);
		transform: translate(-50%, -50%);
	}
	.circle-5::after {
		width: 177px; height: 177px;
		border-radius: 50%;
		border: 1px solid rgb(251, 251, 251);
		transform: translate(-50%, -50%);
	}
@keyframes circle5AnimationSize {
	0%, 38%, 82.82%, 100% { transform: translate(-50%, -50%) scale(1); }
	45%, 75.44% 					{ transform: translate(-50%, -50%) scale(0.7); }
}
@keyframes circle5AnimationView {
	0%, 5.7%, 7.4%, 9.8%, 11.5%, 14%, 15.6%, 18.9%, 21.3%, 23.8%, 25.4%, 28.7%, 35.3%, 42%, 77.9%, 82.7%, 83.6%, 85.2%, 86.1%, 91.8%, 93.5%, 97.6%, 100% { opacity: 1; }
	2.5%, 6.6%, 8.2%, 10.7%, 14.8%, 18%, 20.5%, 22.1%, 24.6%, 27.9%, 36%, 88.6% { opacity: 0.5; }
	47%, 77.8%, 82.8%, 83.5%, 85.3%, 86%, 90.2%, 92.7%, 96.8%, 99.2% { opacity: 0; }
}


.circle-6 {
	top: 50%; left: 50%;
	width: 190px; height: 190px;
	background: repeating-conic-gradient(from 0deg, rgba(179, 221, 255, 0.4) 0deg 1deg, transparent 1deg 2deg);
	clip-path: url(#bagel1);
	border-radius: 50%;

	animation: circle6Animation 4s cubic-bezier(1, 0, 1, 1) infinite;
}
@keyframes circle6Animation {
	0% {
		transform: translate(-50%, -50%) scale(1);
	}
	8%, 35% {
		transform: translate(-50%, -50%) scale(0.93);
		opacity: 1;
	}
	40%, 90% {
		transform: translate(-50%, -50%) scale(0.2);
		opacity: 0;
	}
	95%, 100% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 1;
	}
}

.circle-7 {
	top: 50%; left: 50%;
	width: 142px; height: 142px;
	filter: blur(1px);

	animation: circle6Animation 4s -0.1s cubic-bezier(1, 0, 1, 1) infinite;
}
	.circle-7::before {
		top: 0; left: 0;
		width: 100%; height: 100%;
		background: repeating-conic-gradient(from 0deg, rgba(114, 87, 187, 0.6) 0deg 2deg, transparent 2deg 8deg);
		clip-path: url(#bagel2);
		border-radius: 50%;
	}



.glitch {
	width: 2px; height: 2px;
	box-shadow: -21px -75px #8AC7ED, -16px -78px #8AC7ED, -8px -78px #8AC7ED, -5px -77px #8AC7ED, -2px -79px #8AC7ED, 10px -79px #8AC7ED, 25px -73px #8AC7ED, 41px -71px #8AC7ED, 44px -68px #8AC7ED, -26px -72px #8AC7ED, -45px -62px #8AC7ED, -65px -57px #8AC7ED, 59px -49px #8AC7ED, 67px -52px #8AC7ED, 37px -69px #8AC7ED, 43px -62px #8AC7ED, 39px -62px #8AC7ED, 17px -71px #8AC7ED, 28px -67px #8AC7ED, 65px -32px #8AC7ED, 73px -24px #8AC7ED, 67px -25px #8AC7ED, 76px -14px #8AC7ED, 70px -18px #8AC7ED, 82px 21px #8AC7ED, 79px 20px #8AC7ED, 72px 15px #8AC7ED, 55px 45px #8AC7ED, 48px 51px #8AC7ED, 43px 58px #8AC7ED, 37px 57px #8AC7ED, 36px 63px #8AC7ED, 32px 76px #8AC7ED, 35px 70px #8AC7ED, 25px 71px #8AC7ED, 20px 75px #8AC7ED, 5px 70px #8AC7ED, 7px 75px #8AC7ED, -5px 79px #8AC7ED, 3px 78px #8AC7ED, -1px 77px #8AC7ED, -13px 78px #8AC7ED, -15px 82px #8AC7ED, -20px 76px #8AC7ED, -18px 78px #8AC7ED, -17px 75px #8AC7ED, -22px 72px #8AC7ED, -34px 72px #8AC7ED, -36px 69px #8AC7ED, -43px 74px #8AC7ED, -41px 72px #8AC7ED, -42px 69px #8AC7ED, -38px 66px #8AC7ED, -43px 63px #8AC7ED, -37px 61px #8AC7ED, -56px 66px #8AC7ED, -54px 61px #8AC7ED, -58px 54px #8AC7ED, -60px 41px #8AC7ED, -50px 56px #8AC7ED, -54px 57px #8AC7ED, -60px 52px #8AC7ED, -74px 35px #8AC7ED, -76px 18px #8AC7ED, -74px 25px #8AC7ED, -69px 23px #8AC7ED, -84px 13px #8AC7ED, -73px 3px #8AC7ED, -80px -1px #8AC7ED, -79px -4px #8AC7ED, -79px -7px #8AC7ED, -70px -11px #8AC7ED, -67px -23px #8AC7ED, -84px -13px #8AC7ED, -71px -42px #8AC7ED, -61px -49px #8AC7ED, -58px -43px #8AC7ED, -55px -50px #8AC7ED, -32px -72px #8AC7ED, -80px -30px #8AC7ED, -59px -20px #8AC7ED, -79px 12px #8AC7ED, -76px 1px #8AC7ED, 8px 57px #8AC7ED, 59px 36px #8AC7ED, 60px 46px #8AC7ED, 54px 59px #8AC7ED, 44px 52px #8AC7ED, -31px 20px #8AC7ED, -56px 2px #8AC7ED, 47px 35px #8AC7ED, 70px 6px #8AC7ED, 60px -2px #8AC7ED,
							-21px -75px 0 1px rgba(255, 255, 255, 0.1), -16px -78px 0 1px rgba(255, 255, 255, 0.1), -8px -78px 0 1px rgba(255, 255, 255, 0.1), -5px -77px 0 1px rgba(255, 255, 255, 0.1), -2px -79px 0 1px rgba(255, 255, 255, 0.1), 10px -79px 0 1px rgba(255, 255, 255, 0.1), 25px -73px 0 1px rgba(255, 255, 255, 0.1), 41px -71px 0 1px rgba(255, 255, 255, 0.1), 44px -68px 0 1px rgba(255, 255, 255, 0.1), -26px -72px 0 1px rgba(255, 255, 255, 0.1), -45px -62px 0 1px rgba(255, 255, 255, 0.1), -65px -57px 0 1px rgba(255, 255, 255, 0.1), 59px -49px 0 1px rgba(255, 255, 255, 0.1), 67px -52px 0 1px rgba(255, 255, 255, 0.1), 37px -69px 0 1px rgba(255, 255, 255, 0.1), 43px -62px 0 1px rgba(255, 255, 255, 0.1), 39px -62px 0 1px rgba(255, 255, 255, 0.1), 17px -71px 0 1px rgba(255, 255, 255, 0.1), 28px -67px 0 1px rgba(255, 255, 255, 0.1), 65px -32px 0 1px rgba(255, 255, 255, 0.1), 73px -24px 0 1px rgba(255, 255, 255, 0.1), 67px -25px 0 1px rgba(255, 255, 255, 0.1), 76px -14px 0 1px rgba(255, 255, 255, 0.1), 70px -18px 0 1px rgba(255, 255, 255, 0.1), 82px 21px 0 1px rgba(255, 255, 255, 0.1), 79px 20px 0 1px rgba(255, 255, 255, 0.1), 72px 15px 0 1px rgba(255, 255, 255, 0.1), 55px 45px 0 1px rgba(255, 255, 255, 0.1), 48px 51px 0 1px rgba(255, 255, 255, 0.1), 43px 58px 0 1px rgba(255, 255, 255, 0.1), 37px 57px 0 1px rgba(255, 255, 255, 0.1), 36px 63px 0 1px rgba(255, 255, 255, 0.1), 32px 76px 0 1px rgba(255, 255, 255, 0.1), 35px 70px 0 1px rgba(255, 255, 255, 0.1), 25px 71px 0 1px rgba(255, 255, 255, 0.1), 20px 75px 0 1px rgba(255, 255, 255, 0.1), 5px 70px 0 1px rgba(255, 255, 255, 0.1), 7px 75px 0 1px rgba(255, 255, 255, 0.1), -5px 79px 0 1px rgba(255, 255, 255, 0.1), 3px 78px 0 1px rgba(255, 255, 255, 0.1), -1px 77px 0 1px rgba(255, 255, 255, 0.1), -13px 78px 0 1px rgba(255, 255, 255, 0.1), -15px 82px 0 1px rgba(255, 255, 255, 0.1), -20px 76px 0 1px rgba(255, 255, 255, 0.1), -18px 78px 0 1px rgba(255, 255, 255, 0.1), -17px 75px 0 1px rgba(255, 255, 255, 0.1), -22px 72px 0 1px rgba(255, 255, 255, 0.1), -34px 72px 0 1px rgba(255, 255, 255, 0.1), -36px 69px 0 1px rgba(255, 255, 255, 0.1), -43px 74px 0 1px rgba(255, 255, 255, 0.1), -41px 72px 0 1px rgba(255, 255, 255, 0.1), -42px 69px 0 1px rgba(255, 255, 255, 0.1), -38px 66px 0 1px rgba(255, 255, 255, 0.1), -43px 63px 0 1px rgba(255, 255, 255, 0.1), -37px 61px 0 1px rgba(255, 255, 255, 0.1), -56px 66px 0 1px rgba(255, 255, 255, 0.1), -54px 61px 0 1px rgba(255, 255, 255, 0.1), -58px 54px 0 1px rgba(255, 255, 255, 0.1), -60px 41px 0 1px rgba(255, 255, 255, 0.1), -50px 56px 0 1px rgba(255, 255, 255, 0.1), -54px 57px 0 1px rgba(255, 255, 255, 0.1), -60px 52px 0 1px rgba(255, 255, 255, 0.1), -74px 35px 0 1px rgba(255, 255, 255, 0.1), -76px 18px 0 1px rgba(255, 255, 255, 0.1), -74px 25px 0 1px rgba(255, 255, 255, 0.1), -69px 23px 0 1px rgba(255, 255, 255, 0.1), -84px 13px 0 1px rgba(255, 255, 255, 0.1), -73px 3px 0 1px rgba(255, 255, 255, 0.1), -80px -1px 0 1px rgba(255, 255, 255, 0.1), -79px -4px 0 1px rgba(255, 255, 255, 0.1), -79px -7px 0 1px rgba(255, 255, 255, 0.1), -70px -11px 0 1px rgba(255, 255, 255, 0.1), -67px -23px 0 1px rgba(255, 255, 255, 0.1), -84px -13px 0 1px rgba(255, 255, 255, 0.1), -71px -42px 0 1px rgba(255, 255, 255, 0.1), -61px -49px 0 1px rgba(255, 255, 255, 0.1), -58px -43px 0 1px rgba(255, 255, 255, 0.1), -55px -50px 0 1px rgba(255, 255, 255, 0.1), -32px -72px 0 1px rgba(255, 255, 255, 0.1), -80px -30px 0 1px rgba(255, 255, 255, 0.1), -59px -20px 0 1px rgba(255, 255, 255, 0.1), -79px 12px 0 1px rgba(255, 255, 255, 0.1), -76px 1px 0 1px rgba(255, 255, 255, 0.1), 8px 57px 0 1px rgba(255, 255, 255, 0.1), 59px 36px 0 1px rgba(255, 255, 255, 0.1), 60px 46px 0 1px rgba(255, 255, 255, 0.1), 54px 59px 0 1px rgba(255, 255, 255, 0.1), 44px 52px 0 1px rgba(255, 255, 255, 0.1), -31px 20px 0 1px rgba(255, 255, 255, 0.1), -56px 2px 0 1px rgba(255, 255, 255, 0.1), 47px 35px 0 1px rgba(255, 255, 255, 0.1), 70px 6px 0 1px rgba(255, 255, 255, 0.1), 60px -2px 0 1px rgba(255, 255, 255, 0.1);
	filter: blur(1px);

	animation: glitchAnimationOpacity 4s cubic-bezier(1, 0, 1, 1) infinite,
						 glitchAnimationMove 4s cubic-bezier(1, 0, 1, 1) infinite,
						 glitchAnimationBright 4s cubic-bezier(1, 0, 1, 1) infinite;
}
@keyframes glitchAnimationOpacity {
	0%, 30%, 96%, 100% { opacity: 1; }
	35%, 93% 					 { opacity: 0; }
}
@keyframes glitchAnimationMove {
	0%, 100% { transform: translate(-50%, -50%) rotate(0deg); }
	35%, 65% { transform: translate(-50%, -50%) rotate(4320deg); }
}
@keyframes glitchAnimationBright {
	0%, 100% { filter: blur(1px); }
	35%, 65% { filter: blur(1px) brightness(1.8); }
}


.fragment-1::before {
	width: 6px; height: 6px;
	border: 2px solid rgba(255, 255, 255, 0.3);
	border-radius: 2px;
	
	animation: fragment1BeforeAnimationMove 4s -0.15s cubic-bezier(1, 0, 1, 1) infinite;
}
@keyframes fragment1BeforeAnimationMove {
	0%, 100% {
		transform: rotate(0deg) translate(71px, -181px);
		opacity: 1;
	}
	37% {
		transform: rotate(15deg) translate(71px, -181px);
		opacity: 1;
	}
	37.1%, 76.9% {
		opacity: 0;
	}
	77% {
		transform: rotate(-2deg) translate(71px, -181px);
		opacity: 1;
	}
	90% {
		transform: rotate(-9deg) translate(71px, -181px);
	}
}


.fragment-1::after {
	width: 6px; height: 6px;
	border: 2px solid rgba(255, 255, 255, 0.3);
	border-radius: 2px;

	animation: fragment1AfterAnimationMove 4s -0.15s cubic-bezier(1, 0, 1, 1) infinite;
}
@keyframes fragment1AfterAnimationMove {
	0%, 100% {
		transform: rotate(0deg) translate(285px, 48px);
		opacity: 1;
	}
	7% {
		transform: rotate(5deg) translate(285px, 48px);
	}
	22% {
		transform: rotate(-1deg) translate(285px, 48px);
	}
	40% {
		transform: rotate(-3deg) translate(285px, 48px);
		opacity: 1;
	}
	40.1%, 81.9% {
		opacity: 0;
	}
	82% {
		transform: rotate(-15deg) translate(285px, 48px);
		opacity: 1;
	}
}


.fragment-2::after {
	width: 6px; height: 6px;
	border: 2px solid rgba(255, 255, 255, 0.3);
	border-radius: 2px;

	animation: fragment2AfterAnimationMove 4s -0.15s cubic-bezier(1, 0, 1, 1) infinite;
}
@keyframes fragment2AfterAnimationMove {
	0%, 100% {
		transform: rotate(0deg) translate(-220px, 162px);
		opacity: 1;
	}
	46% {
		transform: rotate(-8deg) translate(-220px, 162px);
		opacity: 1;
	}
	46.1%, 97.9% {
		opacity: 0;
	}
	98% {
		transform: rotate(2deg) translate(-220px, 162px);
		opacity: 1;
	}
}


.fragment-2::before {
	width: 6px; height: 6px;
	border: 2px solid rgba(255, 255, 255, 0.3);
	border-radius: 2px;

	animation: fragment2BeforeAnimationMove 4s -0.15s cubic-bezier(1, 0, 1, 1) infinite;
}
@keyframes fragment2BeforeAnimationMove {
	0%, 100% {
		transform: rotate(0deg) translate(284px, 111px);
		opacity: 1;
	}
	2% {
		transform: rotate(2deg) translate(284px, 111px);
	}
	9% {
		transform: rotate(-5deg) translate(284px, 111px);
	}
	15%, 22% {
		transform: rotate(-3deg) translate(284px, 111px);
	}
	27% {
		transform: rotate(-2deg) translate(284px, 111px);
		opacity: 1;
	}
	38.9% {
		transform: rotate(-9deg) translate(284px, 111px);
	}
	39%, 76.9% {
		opacity: 0;
	}
	77% {
		transform: rotate(-9deg) translate(284px, 111px);
		opacity: 1;
	}
}


.fragment-3::after {
	width: 6px; height: 6px;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 2px;

	animation: fragment3AfterAnimationMove 4s -0.15s cubic-bezier(1, 0, 1, 1) infinite;
}
@keyframes fragment3AfterAnimationMove {
	0%, 4.9%, 65.1%, 100% {
		opacity: 0;
	}
	5% {
		transform: rotate(0deg) translate(183px, 198px);
		opacity: 1;
	}
	16% {
		transform: rotate(-9deg) translate(284px, 111px);
		opacity: 1;
	}
	16.1%, 60.9% {
		opacity: 0;
	}
	61% {
		transform: rotate(5deg) translate(284px, 111px);
		opacity: 1;
	}
	65% {
		transform: rotate(10deg) translate(284px, 111px);
		opacity: 1;
	}
}


.fragment-3::before {
	width: 6px; height: 6px;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 2px;

	animation: fragment3BeforeAnimationMove 4s -0.15s cubic-bezier(1, 0, 1, 1) infinite;
}
@keyframes fragment3BeforeAnimationMove {
	0%, 100% {
		transform: rotate(0deg) translate(-253px, -126px);
		opacity: 1;
	}
	22% {
		transform: rotate(25deg) translate(-253px, -126px);
		opacity: 1;
	}
	22.1%, 95.9% {
		opacity: 0;
	}
	96% {
		transform: rotate(-5deg) translate(-253px, -126px);
		opacity: 1;
	}
}







h1 {
  margin: 0;
  font-size: 33px;
  color: #fff;
  padding: 0 10%;
}
h3 {
  margin: 0;
  font-size: 17px;
  font-weight: 500;
  color: #ccc;
  padding: 0 10%;
}
.s {
  display: block;
  width: 100%;
  height: 750px;
  margin: auto;
  z-index: 100;
}
.music-player {
  display: block;
  position: relative;
  width: 400px;
  height: 570px;
  margin: auto;
  margin-top: 6%;
  border-radius: 0 0 10px 10px;
  background: transparent linear-gradient(to bottom,rgba(10,11,31,0.9) 50%,rgb(10,11,31) 70%) repeat scroll 0 0;
  box-shadow: 1px 10px 20px 5px #222;
}
.cover {
  float: left;
  width: 100%;
  height: 66%;
}
.cover img {
  display: block;
  position: absolute;
  top: 8%;
  left: 14%;
  width: 70%;
  margin: auto;
  text-align: center;
}
.titre {
  float: left;
  width: 100%;
}
.lecteur {
  width: 100%;
  display: block;
  height: auto;
  position: relative;
  float: left;
}
.mejs__button>button:focus {
  outline: 0px dotted #999;
}
.mejs__s {
  position: relative;
  background-color: transparent;
  min-width: auto !important;
}
.mejs__controls {
  padding: 0 10%;
  background: transparent !important;
  display: block;
  position: relative;
}
.mejs__controls div {
  display: block;
  float: left;
  position: relative;
}
.mejs__controls .mejs__playpause-button {
  position: absolute !important;
  right: 8%;
  bottom: 95%;
  width: 40px;
}
.mejs__controls .mejs__playpause-button button {
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;
  font-family: FontAwesome;
  font-size: 23px;
  color: #5bbb95;
  background: transparent;
  padding: 0;
  margin: 0;
}
.mejs__controls .mejs__play button:before{
  content:"\f04b";
}
.mejs__controls .mejs__pause button:before{
  content:"\f04c";
}
.mejs__controls .mejs__volume-button button {
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;
  font-family: FontAwesome;
  font-size: 20px;
  color: #5bbb95;
  background: transparent;
  margin: 0;
  padding: 0;
}
.mejs__controls .mejs__mute button:before {
  content: "\f028";
}
.mejs__controls .mejs__unmute button:before {
  content: "\f026";
}
.mejs__controls .mejs__time {
  width: 100%;
  margin-top: 7%;
  margin-bottom: 3%;
  color: #fff;
  height: auto;
  padding: 0;
  overflow: visible;
  min-width: 100%;
}
.mejs__controls .mejs__time span {
  font-size: 15px;
}
.mejs__controls span.mejs__duration {
  float: right;
  text-align: right;
  color: #ccc;
}
.mejs__controls span.mejs__currenttime {
  font-weight: 700;
  float: left;
}
.mejs__controls .mejs__time-rail {
  width: 100%;
  margin: 0;
}
.mejs__controls .mejs__time-rail span {
  position: absolute;
  top: 0;
  width: 100%;
  height: 4px;
  border-radius: 50px;
}
.mejs__controls .mejs__time-rail .mejs__time-loaded {
  background: rgba(255,255,255,0.2);
}
.mejs__controls .mejs__time-rail .mejs__time-float {
  display: none;
  top: -40px;
  width: 40px;
  height: 25px;
  margin-left: 0px;
  text-align: center;
  font-size: 10px;
  background: #fff;
  border: 0;
}
.mejs__controls .mejs__time-rail .mejs__time-float-current {
  display: block;
  position: relative;
  top: 0;
  margin: 0;
  line-height: 26px;
  color: #100d28;
}
.mejs__controls .mejs__time-rail .mejs__time-float-corner {
  top: auto;
  bottom: -9px;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 6px solid #fff;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
.mejs__controls .mejs__time-rail .mejs__time-current {
  background: #5BBB95 none repeat scroll 0 0;
}
.mejs__controls .mejs__time-handle {
  display: none;
}
.mejs__controls .mejs__volume-button {
  position: relative;
  position: absolute !important;
  top: 70px;
  right: 25%;
  width: 40px;
  height: 40px;
}
.mejs__controls .mejs__horizontal-volume-slider {
  display: block;
  position: absolute !important;
  position: relative;
  top: 70px;
  right: 10%;
  width: 60px;
  height: 4px;
  margin-top: 18px;
  border-radius: 50px;
  line-height: 11px;
}
.mejs__controls .mejs__horizontal-volume-slider .mejs__horizontal-volume-total,
.mejs__controls .mejs__horizontal-volume-slider .mejs__horizontal-volume-current {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.1);
}
.mejs__controls .mejs__horizontal-volume-slider .mejs__horizontal-volume-current {
  background: #fff;
}







* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  /* Webkit */
  width: 0;
  height: 0;
}
.hs__wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
  & h2 {
    font-family: 'arconrounded-regular';
    color: #b7ac7f;
    
  }
  & span {
    font-family: 'arconrounded-regular';
    color: #b7ac7f;
  }
}
.hs {
  display: -webkit-box;
  display: flex;
  overflow-x: scroll;
  -webkit-box-pack: justify;
          justify-content: space-between;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
  -webkit-overflow-scrolling: touch;
  margin: 0 -20px;
}
.hs__header {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
}
.hs__headline {
  -webkit-box-flex: 1;
          flex: 1;
}
.hs__arrows {
  align-self: center;
}
.hs__arrows .arrow:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  content: "";
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTUgOSI+Cgk8cGF0aCBmaWxsPSIjMzMzMzMzIiBkPSJNNy44NjcgOC41NzRsLTcuMjItNy4yMi43MDctLjcwOEw3Ljg2NyA3LjE2IDE0LjA1Ljk4bC43MDYuNzA3Ii8+Cjwvc3ZnPgo=");
  background-size: contain;
  -webkit-filter: brightness(5);
          filter: brightness(5);
  width: 18px;
  height: 12px;
  cursor: pointer;
}
.hs__arrows .arrow.disabled:before {
  -webkit-filter: brightness(2);
          filter: brightness(2);
}
.hs__arrows .arrow.arrow-prev:before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-right: 10px;
}
.hs__arrows .arrow.arrow-next:before {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.hs__item {
  -webkit-box-flex: 1;
          flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(100% / 4 - (10px * 2) - (20px / 4));
  margin: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 50px;
  margin-top: 50px;
  align-items: flex-start;
  justify-content: flex-start;
}

@media only screen and (max-width: 990px) {
  .hs__item {
    flex-basis: calc(100% / 3 - (10px * 2) - (20px / 3));
  }
}
.hs__item:last-child:after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 1px;
  right: calc(10px * 2 * -1);
}
.hs__item:first-child {
  margin-left: calc(10px * 2);
}
.hs__item__description {
  z-index: 1;
  align-self: flex-start;
  margin: 10px 0;
}
.hs__item__subtitle {
  display: block;
}
.hs__item__image__wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}
.hs__item__image {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;

}
.hs__item__image__wrapper:hover {
  box-shadow: 0px 0px 10px black ;
  transition: 500ms;

  cursor: pointer;
}
@media only screen and (min-width: 990px) {
  .hs__wrapper {
    overflow: hidden;
  }
}
@media (hover: none) and (pointer: coarse) {
  .hs__wrapper .hs__arrows {
    display: none;
  }
  .hs__wrapper .hs__item {
    -webkit-box-flex: 1;
            flex: 1 0 calc(23% - 10px * 2);
  }
}
@media only screen and (hover: none) and (pointer: coarse) and (max-width: 990px) {
  .hs__wrapper .hs__item {
    -webkit-box-flex: 1;
            flex: 1 0 calc(45% - 10px * 2);
  }
}

/* Base Styling */


.containers {
  max-width: 990px;
  padding: calc(10px * 2);
  margin: 0 auto;
  
  mix-blend-mode: invert;
  position: relative;
}
.containers:after {
  content: '';
  width: 100vw;
  height: 100%;
  background: #212121;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}
@media only screen and (min-width: 990px) {
  .containers {
    padding: calc(10px * 4) calc(10px * 8);
  }
}

ul {
  padding: 0;
  margin: 0;
}

.controlls {
  top: 0;
  bottom: 0;

}






.body-about {

  background: #212121;
}
.about-main-title {
  width: 100%;
  margin: auto;
  margin-top: 400px;
  margin-bottom: 400px;
}
.about-main-title h1 {

  font-family: 'arconrounded-regular';
  overflow: hidden; /* Ensures the content is not revealed until the animation */

  white-space: wrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 2s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}



.body-contact {
  background-color: #222;
  & .main-contact {
    margin-top: 50vh;
    text-align: center;
    & h2 {
      font-family: 'arconrounded-regular';
      margin-bottom: 50px;
      color: #b7ac7f;
    }
    & i:hover {
      color: grey;
      font-size: 3.5em;
    }
  }
}
.main-contact span {
  display:table-cell;
  animation:jumb 2s infinite;
  padding: 0 15px;
}
@keyframes jumb {
  0% {
    transform:translateY(0px)
  }
  50% {
    transform:translateY(-30px);
  }
  100% {
    transform:translateY(0px)	
  }
}
.main-contact span:nth-child(1) {
  animation-delay:0s;
}
.main-contact span:nth-child(2) {
  animation-delay:.1s;	
}
.main-contact span:nth-child(3) {
  animation-delay:.2s;
}
.main-contact span:nth-child(4) {
  animation-delay:.3s;	
}
.main-contact span:nth-child(5) {
  animation-delay:.4s;
}
.main-contact span:nth-child(6) {
  animation-delay:.5s;	
}
.main-contact span:nth-child(7) {
  animation-delay:.6s;
}